@import 'boilerplate';

.header {
    display: flex;
    padding: 1em 1em 2em 1em;
    background-color: $darkblue;

    &__logo {
        max-width: $logo-width;
        max-height: $logo-height;
    }

    &__title {
        margin: 0 .5em;
        margin-right: 4em;
        font-size: 1.33rem;
        font-weight: bold;
        text-align: left;
        color: $white;
    
        @include wide-screen {
            margin-top: auto;
            font-size: 2.22rem;
            text-align: center;
        }
    }
}

.button-hamburger {
    margin-bottom: auto;
    margin-left: auto;
    padding: 0 0 2em 2em;
    background-color: inherit;
    border: none;

    @include wide-screen {
        display: none;
    }

    &__line {
        width: 51px;
        height: 6px;
        background-color: white;
        margin: 6px 0;
        border-radius: 6px;
    }
}

.main-navbar {
    display: none;
    background-color: $darkblue;

    @include wide-screen {
        display: block;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em 4em;

        &-link {
            font-size: 1.33rem;
            font-weight: bold;
        
            &:hover {
                color: $lightblue;
            }
        }
    }
}

.main-content {
    flex: 1;
}

.bg-image {
    width: 100%;
    max-height: $bg-image-size;
    object-fit: cover;
}

.challenges {
    margin: 4em;

    .button {
        margin: 0 auto;
    }

    &__link {
        display: block;
        margin: 2em;
        color: $blue;
        font-size: .88rem;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }

    @include wide-screen {
        display: flex;
        justify-content: center;

        &.challenges--top {
            margin: 0;
            transform: translateY(-50%);
        }

        .button {
            margin: 0 1em;
        }

        &__link {
            display: none;
        }
    }
}

.grid { ////TODO: switch to flex instead?
    display: grid;
    gap: 0;
    justify-items: center;
}

.grid-quotes {
    grid-template-rows: 0;

    @include wide-screen {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 4em 4em 6em 4em;
    }
}

.quote {
    max-width: 500px;
    display: flex;
    margin: 0;
    overflow: hidden;

    &__portrait {
        max-height: $portrait-size;
        object-fit: cover;
        border-radius: 50%;

        @include wide-screen {
            max-height: $portrait-size-desktop;
        }
    }

    &__description {
        margin: 0;
        margin-left: 1em;
        font-size: 1.33rem;
        font-style: italic;
    }

    &__author {
        display: block;
        margin-top: .5em;
        font-size: 1rem;
        font-style: normal;
    }
}


.grid-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: .5em 3em;
    overflow: scroll;

}

.card {
    min-width: $card-size;
    border-radius:$border-radius-big;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);

    &-wrapper {
        padding: 1em;
    }

    &__banner {
        width: 100%;
        border-radius: $border-radius-big $border-radius-big 0 0;
    }

    &__subtitle {
        margin: 0;
        font-size: 1.55rem;
        font-weight: normal;
    }

    &__star {
        margin: auto .15em;
    }

    &__participants {
        display: inline-block;
        margin-left: .8em;
        font-size: 14px;

        @include wide-screen {
            float: right;
            text-align: right;
        }
    }

    &__description {
        margin: 20px 0;
    }

    .button {
        width: 180px;
        height: 44px;
        margin: auto;
        margin-right: 0;
        font-size: .88rem;
    }
}

.full-story {
    padding: 4em 1em;
    background-color: $darkblue;

    @include wide-screen {
        padding: 6em;
    }

    &__description {
        max-width: 600px;
        margin: auto;
        text-align: center;
        font-size: 1.55rem;
        color: $white;
    }

    .button {
        margin: 0 auto;
        margin-top: 2em;
    }
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0; 

    &-wrapper {
        padding: 1em;
        padding-bottom: 4em;

        @include wide-screen {
            max-width: 430px;
            margin: auto;
            padding: 4em;
        }
    }

    &__img {
        min-height: 100%;
        object-fit: cover;
    }
 
    .headline {
        margin: 1em 0;
        margin-top: 0;
        font-size: 1.77rem;
        font-weight: bold;
    }

    &__description {
        font-size: 1.33rem;
    }

    .button {
        margin-top: 2em;
    }

    @include wide-screen {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "last first";

        .first-pos {
            grid-area: first;
        }
    
        .last-pos {
            grid-area: last;
        }
    }
}

.footer {
    padding: 2em 1em;
    background-color: $darkblue;

    @include wide-screen {
        display: flex;
        justify-content: space-around;
    }
}

.esc-rooms, .site-map, .socials {
    max-width: 413px;
    margin: 2em 0;
    color: $white;
    
    .headline {
        margin: .5em 0;
        font-size: 1rem;
        font-weight: bold;
    }
}


