html {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.button {
  display: block;
  width: 308px;
  height: 66px;
  border: none;
  border-radius: 4px;
  font-size: 1.33rem;
  font-weight: bold;
  text-align: center;
}
.button:hover {
  cursor: pointer;
  background-color: yellow;
}

.button--red {
  color: white;
  background-color: #E3170A;
}

.button--blue {
  color: black;
  background-color: #8ACFE5;
}

.button--desktop {
  display: none;
}
@media screen and (min-width: 720px) {
  .button--desktop {
    display: block;
  }
}

.button-inverted {
  color: #8ACFE5;
  background-color: #011827;
  border: 2px solid #8ACFE5;
}

.list {
  list-style: none;
}

.link {
  color: white;
  text-decoration: none;
}

.headline {
  margin: 2em 0;
  font-size: 1.7rem;
  font-weight: normal;
}
@media screen and (min-width: 720px) {
  .headline {
    font-size: 2rem;
  }
}

.headline--center {
  text-align: center;
}

.headline--left {
  margin-left: 0;
  text-align: left;
}

.img {
  width: 100%;
}

.header {
  display: flex;
  padding: 1em 1em 2em 1em;
  background-color: #011827;
}
.header__logo {
  max-width: 128px;
  max-height: 82px;
}
.header__title {
  margin: 0 0.5em;
  margin-right: 4em;
  font-size: 1.33rem;
  font-weight: bold;
  text-align: left;
  color: white;
}
@media screen and (min-width: 720px) {
  .header__title {
    margin-top: auto;
    font-size: 2.22rem;
    text-align: center;
  }
}

.button-hamburger {
  margin-bottom: auto;
  margin-left: auto;
  padding: 0 0 2em 2em;
  background-color: inherit;
  border: none;
}
@media screen and (min-width: 720px) {
  .button-hamburger {
    display: none;
  }
}
.button-hamburger__line {
  width: 51px;
  height: 6px;
  background-color: white;
  margin: 6px 0;
  border-radius: 6px;
}

.main-navbar {
  display: none;
  background-color: #011827;
}
@media screen and (min-width: 720px) {
  .main-navbar {
    display: block;
  }
}
.main-navbar__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 4em;
}
.main-navbar__list-link {
  font-size: 1.33rem;
  font-weight: bold;
}
.main-navbar__list-link:hover {
  color: #8ACFE5;
}

.main-content {
  flex: 1;
}

.bg-image {
  width: 100%;
  max-height: 468px;
  -o-object-fit: cover;
     object-fit: cover;
}

.challenges {
  margin: 4em;
}
.challenges .button {
  margin: 0 auto;
}
.challenges__link {
  display: block;
  margin: 2em;
  color: #36769D;
  font-size: 0.88rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
@media screen and (min-width: 720px) {
  .challenges {
    display: flex;
    justify-content: center;
  }
  .challenges.challenges--top {
    margin: 0;
    transform: translateY(-50%);
  }
  .challenges .button {
    margin: 0 1em;
  }
  .challenges__link {
    display: none;
  }
}

.grid {
  display: grid;
  gap: 0;
  justify-items: center;
}

.grid-quotes {
  grid-template-rows: 0;
}
@media screen and (min-width: 720px) {
  .grid-quotes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 4em 4em 6em 4em;
  }
}

.quote {
  max-width: 500px;
  display: flex;
  margin: 0;
  overflow: hidden;
}
.quote__portrait {
  max-height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (min-width: 720px) {
  .quote__portrait {
    max-height: 96px;
  }
}
.quote__description {
  margin: 0;
  margin-left: 1em;
  font-size: 1.33rem;
  font-style: italic;
}
.quote__author {
  display: block;
  margin-top: 0.5em;
  font-size: 1rem;
  font-style: normal;
}

.grid-cards {
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 0.5em 3em;
  overflow: scroll;
}

.card {
  min-width: 363px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.card-wrapper {
  padding: 1em;
}
.card__banner {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.card__subtitle {
  margin: 0;
  font-size: 1.55rem;
  font-weight: normal;
}
.card__star {
  margin: auto 0.15em;
}
.card__participants {
  display: inline-block;
  margin-left: 0.8em;
  font-size: 14px;
}
@media screen and (min-width: 720px) {
  .card__participants {
    float: right;
    text-align: right;
  }
}
.card__description {
  margin: 20px 0;
}
.card .button {
  width: 180px;
  height: 44px;
  margin: auto;
  margin-right: 0;
  font-size: 0.88rem;
}

.full-story {
  padding: 4em 1em;
  background-color: #011827;
}
@media screen and (min-width: 720px) {
  .full-story {
    padding: 6em;
  }
}
.full-story__description {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 1.55rem;
  color: white;
}
.full-story .button {
  margin: 0 auto;
  margin-top: 2em;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}
.info-wrapper {
  padding: 1em;
  padding-bottom: 4em;
}
@media screen and (min-width: 720px) {
  .info-wrapper {
    max-width: 430px;
    margin: auto;
    padding: 4em;
  }
}
.info__img {
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info .headline {
  margin: 1em 0;
  margin-top: 0;
  font-size: 1.77rem;
  font-weight: bold;
}
.info__description {
  font-size: 1.33rem;
}
.info .button {
  margin-top: 2em;
}
@media screen and (min-width: 720px) {
  .info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "last first";
  }
  .info .first-pos {
    grid-area: first;
  }
  .info .last-pos {
    grid-area: last;
  }
}

.footer {
  padding: 2em 1em;
  background-color: #011827;
}
@media screen and (min-width: 720px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }
}

.esc-rooms, .site-map, .socials {
  max-width: 413px;
  margin: 2em 0;
  color: white;
}
.esc-rooms .headline, .site-map .headline, .socials .headline {
  margin: 0.5em 0;
  font-size: 1rem;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */