@import 'boilerplate';

.container {
    max-width: 1280px;
    margin-inline: auto;
}

.header {
    background-color: $darkblue;

    &__container {
        display: flex;
        padding: 1.25em;
        padding-bottom: 1.75em;
    }
    
    &__logo {
        max-width: $logo-width;
        max-height: $logo-height;
    }

    &__title {
        width: 78px;
        margin: auto 0 0 .5em;
        font-size: $font-size-medium;
        font-weight: bold;
        color: $white;

        @include wide-screen { 
            width: auto;
            font-size: $font-size-title;
        }
    }
}

.nav {
    background-color: $darkblue;

    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        &-link {
            font-size: $font-size-medium;
            font-weight: bold;
            text-align: center;

            &:hover {
                color: $lightblue;
            }
        }
    }
}

.navbar {
    display: none;
    padding: 1.5em 6.5em;

    @include wide-screen {
        display: block;
    }
}

.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .backdrop {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, .5);
    }

    .btn-close {
        position: absolute;
        right: 0;
        margin: 3em;
        z-index: 11;
        opacity: 0;
    }

    .nav__list {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        margin: 1.25em;
        background-color: $darkblue;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
        transform: scale(0);

        &-link {
            font-size: $font-size-extra-large;
        }
    }
}

.nav-menu--show {
    display: flex;

    @include wide-screen {
        visibility: hidden;
    }

    .backdrop {
        animation: fade-in 1s;
    }

    .btn-close {
        animation: fade-in .3s .2s forwards;
    }

    .nav__list {
        animation: scale-in .3s .2s forwards;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale-in {
    from {
        transform: scale(.95);
    }

    to {
        transform: scale(1);
    }
}

.bg-img {
    display: block;
    max-width: $max-width;
    max-height: $bg-image-height;
    margin-inline: auto;
}

.challenges {
    margin-top: 2.25em;
    margin-bottom: 3.5em;

    .btn {
        margin: auto;
    }

    &__link {
        display: block;
        margin: 2em;
        color: $blue;
        font-size: $font-size-small;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }

    @include wide-screen {
        display: flex;
        justify-content: center;
        margin-top: 4.75em;
        margin-bottom: 5.5em;

        &.challenges--top {
            margin: 0;
            transform: translateY(-50%);
        }

        .btn {
            margin: 0 .35em;
        }

        &__link {
            display: none;
        }
    }
}

.reviews {
    display: flex;
    justify-content: center;
    margin: 4em 0;
}

.review-card {
    max-width: $review-card-width;
    display: none;
    margin: 0 1.5em;

    &:nth-child(1) {
        display: flex;
    }

    @include wide-screen {
        display: flex;
    }

    &__headshot {
        max-height: $headshot-height-min;
        border-radius: 50%;

        @include wide-screen {
            max-height: $headshot-height-max;
        }
    }

    &__blockquote {
        margin-left: 1em;
        font-size: $font-size-medium;
        font-style: italic;
    }

    &__cite {
        display: block;
        margin-top: .3em;
        font-size: $font-size-normal;
        font-style: normal;
    }
}

.popular-challenges {
    margin-top: 6.5em;
}

.challenge-cards-container {
    display: flex;
    justify-content: safe center;
    padding: 0 2em;
    overflow: scroll;
}

.challenge-card {
    max-width: $challenge-card-width;
    min-width: $challenge-card-width;
    border-radius: $border-radius-big;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    margin: 1.3em;

    &__img {
        border-radius: $border-radius-big $border-radius-big 0 0;
    }

    &__wrapper {
        padding: 1em;
    }

    &__subtitle {
        font-size: $font-size-big;
        font-weight: normal;
    }

    &__rating  {
        display: flex;
        align-items: center;

        .rating__star {
            margin: 0 .3em;
        }

        .rating__participants {
            margin-left: .5em;
            font-size: $font-size-tiny;

            @include wide-screen {
                margin-left: auto;
            }
        }
    }

    &__description {
        margin: 1.5em 0;
        font-size: $font-size-normal;
    }

    .btn {
        width: 180px;
        height: 44px;
        margin-left: auto;
        margin-right: 0;
        font-size: $font-size-small;
    }
}

.about-us {
    padding: 20% 1em;
    background-color: $darkblue;

    @include wide-screen {
        padding: 8em;
    }

    &__description {
        max-width: 632px;
        margin: auto;
        font-size: $font-size-big;
        text-align: center;
        color: $white;
    }

    .btn {
        margin: auto;
        margin-top: 2em;

        @include wide-screen {
            margin-top: 1.5em;
        }
    }
}

.info-tiles {
    margin-bottom: 15%;
}

.info-tile { 
    display: grid; //TODO: change to flex with row-reverse
    justify-items: center;
    align-items: center;

    @include wide-screen {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "last first";

        .first-pos {
            grid-area: first;
        }

        .last-pos {
            grid-area: last;
        }
    }

    &__img {
        height: 100%;
    }

    &__wrapper {
        margin: 1.75em 1em;

        @include wide-screen {
            width: 65%;
        }
    }

    &__subtitle {
        font-size: $font-size-large;
        font-weight: bold;
    }

    &__description {
        font-size: $font-size-medium;
        margin-top: 1em;
        margin-bottom: 2.25em;
        margin-bottom: 10%;

        @include wide-screen {
            margin-bottom: 1em;
        }
    }

    .btn {
        margin: 1em 0;
    }
}

.footer {
    background-color: $darkblue;

    &__container {
        padding: 2em 1.5em;
        
        @include wide-screen {
            display: flex;
            justify-content: space-around;
            padding: 4em 1em;
        }
    }

    &__section {
        max-width: 413px;
        margin: 2em 0;
        color: $white;

        &-headline {
            margin: .5em 0;
            font-size: $font-size-normal;
        }
    }
}

/* || GENERAL STYLES */

.btn {
    display: grid;
    place-items: center;
    width: 308px;
    height: 66px;
    border-radius: $border-radius;
    font-size: $font-size-medium;
    font-weight: bold;
    text-align: center;

    &:hover {
        cursor: pointer;
        filter: brightness(.85);
    }    

    &__primary--on-white {
        color: $white;
        background-color: $red;
    }

    &__primary--on-dark {
        color: $lightblue;
        background-color: $darkblue;
        border: 2px solid $lightblue;
    }

    &__secondary--on-white {
        color: $black;
        background-color: $lightblue;
    }
}

.btn--desktop {
    display: none;

    @include wide-screen {
        display: grid;
    }
}

.btn-hamburger {
    margin-bottom: auto;
    margin-left: auto;
    padding: 0 0 2em 2em;
    background: none;
    border: none;
    cursor: pointer;

    @include wide-screen {
        display: none;
    }
}

.btn-close {
    background: none;
    border: none;
    cursor: pointer;
}

.headline {
    margin: .5em 0;
    font-size: $font-size-large;
    font-weight: normal;

    @include wide-screen {
        margin: 2em 0;
        font-size: $font-size-extra-large;
    }
}

.headline--center {
    text-align: center;
}

.headline--left {
    margin-left: 0;
    text-align: left;
}

.img {
    width: 100%;
    object-fit: cover;
}

.line {
    width: 51px;
    height: 6px;
    background-color: white;
    margin: 6px 0;
    border-radius: 6px;
}