/* || MIXINS */
html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.btn {
  display: grid;
  place-items: center;
  width: 308px;
  height: 66px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
  filter: brightness(0.85);
}
.btn__primary--on-white {
  color: white;
  background-color: #E3170A;
}
.btn__primary--on-dark {
  color: #8ACFE5;
  background-color: #011827;
  border: 2px solid #8ACFE5;
}
.btn__secondary--on-white {
  color: black;
  background-color: #8ACFE5;
}

.btn--desktop {
  display: none;
}
@media screen and (min-width: 800px) {
  .btn--desktop {
    display: grid;
  }
}

.btn-hamburger {
  margin-bottom: auto;
  margin-left: auto;
  padding: 0 0 2em 2em;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .btn-hamburger {
    display: none;
  }
}

.btn-close {
  background: none;
  border: none;
  cursor: pointer;
}

.headline {
  margin: 0.5em;
  font-size: 2rem;
  font-weight: normal;
}
@media screen and (min-width: 800px) {
  .headline {
    margin: 1em;
    font-size: 2.25rem;
  }
}

.headline--center {
  text-align: center;
}

.headline--left {
  margin-left: 0;
  text-align: left;
}

.img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.line {
  width: 51px;
  height: 6px;
  background-color: white;
  margin: 6px 0;
  border-radius: 6px;
}

/* || SECTIONS */
.header {
  background-color: #011827;
}
.header__container {
  display: flex;
  padding: 1.25em;
  padding-bottom: 1.75em;
}
.header__logo {
  max-width: 128px;
  max-height: 82px;
}
.header__title {
  width: 78px;
  margin: auto 0 0 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 800px) {
  .header__title {
    width: auto;
    font-size: 2.5rem;
  }
}

.nav {
  background-color: #011827;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__list-link {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.nav__list-link:hover {
  color: #8ACFE5;
}

.navbar {
  display: none;
  padding: 1.5em 6.5em;
}
@media screen and (min-width: 800px) {
  .navbar {
    display: block;
  }
}

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nav-menu .backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
.nav-menu .btn-close {
  position: absolute;
  right: 0;
  margin: 3em;
  z-index: 11;
  opacity: 0;
}
.nav-menu .nav__list {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  margin: 1.25em;
  background-color: #011827;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(0);
}
.nav-menu .nav__list-link {
  font-size: 2.25rem;
}

.nav-menu--show {
  display: flex;
}
@media screen and (min-width: 800px) {
  .nav-menu--show {
    visibility: hidden;
  }
}
.nav-menu--show .backdrop {
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
}
.nav-menu--show .nav__list, .nav-menu--show .btn-close {
  -webkit-animation: menu-pop-in 0.3s 0.2s forwards;
          animation: menu-pop-in 0.3s 0.2s forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes menu-pop-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu-pop-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.challenges {
  margin-top: 2.25em;
  margin-bottom: 3.5em;
}
.challenges .btn {
  margin: auto;
}
.challenges__link {
  display: block;
  margin: 2em;
  color: #36769D;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
@media screen and (min-width: 800px) {
  .challenges {
    display: flex;
    justify-content: center;
    margin-top: 4.75em;
    margin-bottom: 5.5em;
  }
  .challenges.challenges--top {
    margin: 0;
    transform: translateY(-50%);
  }
  .challenges .btn {
    margin: 0 0.35em;
  }
  .challenges__link {
    display: none;
  }
}

.bg-img {
  display: block;
  max-height: 468px;
}

.reviews {
  display: flex;
  justify-content: center;
  margin: 4em 0;
}

.review-card {
  max-width: 520px;
  display: none;
  margin: 0 1.5em;
}
.review-card:first-child {
  display: flex;
}
@media screen and (min-width: 800px) {
  .review-card {
    display: flex;
  }
}
.review-card__headshot {
  max-height: 72px;
  border-radius: 50%;
}
@media screen and (min-width: 800px) {
  .review-card__headshot {
    max-height: 96px;
  }
}
.review-card__blockquote {
  margin-left: 1em;
  font-size: 1.5rem;
  font-style: italic;
}
.review-card__cite {
  display: block;
  margin-top: 0.3em;
  font-size: 1.125rem;
  font-style: normal;
}

.popular-challenges {
  margin-top: 6.5em;
}

.challenge-cards-container {
  display: flex;
  justify-content: safe center;
  gap: 2.5em;
  padding: 2em 3em;
  overflow: scroll;
}

.challenge-card {
  max-width: 363px;
  min-width: 363px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.challenge-card__img {
  border-radius: 8px 8px 0 0;
}
.challenge-card__wrapper {
  padding: 1em;
}
.challenge-card__subtitle {
  font-size: 1.75rem;
  font-weight: normal;
}
.challenge-card__rating {
  display: flex;
  align-items: center;
}
.challenge-card__rating .rating__star {
  margin: 0 0.3em;
}
.challenge-card__rating .rating__participants {
  margin-left: 0.5em;
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  .challenge-card__rating .rating__participants {
    margin-left: auto;
  }
}
.challenge-card__description {
  margin: 1.5em 0;
  font-size: 1.125rem;
}
.challenge-card .btn {
  width: 180px;
  height: 44px;
  margin-left: auto;
  margin-right: 0;
  font-size: 1rem;
}

.about-us {
  padding: 6em 1em;
  background-color: #011827;
}
.about-us__description {
  max-width: 632px;
  margin: auto;
  font-size: 1.75rem;
  text-align: center;
  color: white;
}
.about-us .btn {
  margin: auto;
  margin-top: 2em;
}

.info-tiles {
  margin-bottom: 15%;
}

.info-tile {
  display: grid;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .info-tile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "last first";
  }
  .info-tile .first-pos {
    grid-area: first;
  }
  .info-tile .last-pos {
    grid-area: last;
  }
}
.info-tile__img {
  height: 100%;
}
.info-tile__wrapper {
  margin: 1.75em 1em;
}
@media screen and (min-width: 800px) {
  .info-tile__wrapper {
    max-width: 416px;
  }
}
.info-tile__subtitle {
  font-size: 2rem;
  font-weight: bold;
}
.info-tile__description {
  font-size: 1.5rem;
  margin-top: 1em;
}
.info-tile .btn {
  margin: 1em 0;
}

.footer {
  background-color: #011827;
}
.footer__container {
  padding: 2em 1.5em;
}
@media screen and (min-width: 800px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    padding: 4em 1em;
  }
}
.footer__section {
  max-width: 413px;
  margin: 2em 0;
  color: white;
}
.footer__section-headline {
  margin: 0.5em 0;
  font-size: 1.125rem;
}
.footer a:hover {
  color: #8ACFE5;
}/*# sourceMappingURL=main.css.map */