.footer {
    background-color: $darkblue;

    &__container {
        padding: 2em 1.5em;

        @include wide-screen {
            display: flex;
            justify-content: space-around;
            padding: 4em 1em;
        }
    }

    &__section {
        max-width: 413px;
        margin: 2em 0;
        color: $white;

        &-headline {
            margin: .5em 0;
            font-size: $font-size-normal;
        }
    }

    a:hover {
        color: $lightblue;
    }
}

